*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    max-height: 60px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}
.navigation {
    padding: 0 10px;
}

header.sticky  {
    z-index: 100000;
    background: #012705;
    padding: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
header.sticky .navigation {
    background: none;
}
header.sticky .logo,
header.sticky .navigation  li a {
    color: #fff;
}
header.sticky .navigation  li a {
    color: #fff;
    font-size: 1.5em;
}
header .logo img {
    padding-top: 90px;
    top: 100px;
    left: 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
}
header .navigation  {
   
    position: relative;
    display: flex;
}

header .navigation  li {
    list-style: none;
    margin: 15px;
}
header .navigation  li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}
header .navigation  li a:hover {
    border-bottom: 2px solid #fff;
}


@media (max-width:900px) {
    header {
        padding: 0 0;
        top: 0;
        z-index: 100;
       
    }
    .navigation {
        padding-right: 5px;
    }
    
   
   
    header .navigation.sticky {
        padding: 15px 40px;
        z-index: 1000000;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        width: 100%;
        height: calc(100% - 135px);
        position: fixed;
        top: 135px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #232c33;
    }
  
    header .navigation li {
        margin-left: 0;
        margin-bottom: 25px;
    }
    header .navigation li a {
        font-size: 2em;
        color: #fff;
    }
    
    .menuToggle {
        padding-right: 5px;
        position: relative;
        width: 40px;
        height: 40px;
        background: url(image/menu1.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(image/close1.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

}
@media (max-width:480px){
    header {
        top: 0;
        z-index: 100;
        padding: 0 0;
    }
    header,
    header .navigation.sticky {
        z-index: 1000000;
    }
    header .logo img {
        padding-top: 60px;
        top: 100px;
        left: 0;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 30px;
    }
    

}









